<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kundenreferenzen</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="top">
        <h1>Kundenreferenzen suchen</h1>
        <form id="search">
            <div class="input-box">
                <input type="text" id="challenge" placeholder="Herausforderung suchen" name="challenge" required>
                <button type="submit" id="search-btn">Suchen</button>
            </div>
        </form>
    </div>
    <div class="tabs">
        <button id="tab-results" class="active" onclick="showTab('results')">Kundenreferenzen</button>
        <button id="tab-solutions" onclick="showTab('solutions')">Lösungen</button>
        <button id="tab-visuals" onclick="showTab('visuals')">Kategorien</button>
    </div>

    <div class="main">
        <form id="filter">
            <h2>Filter</h2>
            <label for="category-filter">Kategorie wählen:</label>
            <select id="category-filter" class="dropdown-select">
                <option value="">Alle Kategorien</option>
                <option value="Customer Experience">Customer Experience</option>
                <option value="E-Commerce Optimization"> E-Commerce Optimization</option>
                <option value="Omnichannel Solutions"> Omnichannel Solutions</option>
                <option value="Digital Transformation">Digital Transformation</option>
                <option value="Product Data Management">Product Data Management</option>
                <option value="Internationalization">Internationalization</option>
                <option value="Pricing and Revenue">Pricing and Revenue</option>
                <option value="Operational Efficiency">Operational Efficiency</option>
            </select>

            <label for="similarity-filter">Ähnlichkeit wählen:</label>
            <div class="range">
                <div class="range-wrapper">
                    <span>0.0</span>
                    <input
                            type="range"
                            id="similarity-filter"
                            min="0.0"
                            max="1.0"
                            step="0.01"
                            value="0.35"
                    >
                    <span>1.0</span>
                </div>
                <div class="range-value">
                    <span id="range-display">0.35</span>
                </div>
            </div>
            <div class="button-box">
                <button type="submit" id="filter-btn">Filter anwenden</button>
                <div id="revert-filter" onclick="resetFilters()">Filter zurücksetzen</div>
            </div>
        </form>
        <div class="main-content">
            <div id="results" class="tab-content"></div>
            <div id="solutions" class="tab-content" style="display: none;"></div>
            <div id="visuals" class="tab-content" style="display: none;">
                <canvas id="challengeChart"></canvas>
            </div>
        </div>
    </div>

    <div class="rescrap">
        <button type="button" id="rescrap-btn" title="Daten erneut scrappen">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M142.9 142.9c-17.5 17.5-30.1 38-37.8 59.8c-5.9 16.7-24.2 25.4-40.8 19.5s-25.4-24.2-19.5-40.8C55.6 150.7 73.2 122 97.6 97.6c87.2-87.2 228.3-87.5 315.8-1L455 55c6.9-6.9 17.2-8.9 26.2-5.2s14.8 12.5 14.8 22.2l0 128c0 13.3-10.7 24-24 24l-8.4 0c0 0 0 0 0 0L344 224c-9.7 0-18.5-5.8-22.2-14.8s-1.7-19.3 5.2-26.2l41.1-41.1c-62.6-61.5-163.1-61.2-225.3 1zM16 312c0-13.3 10.7-24 24-24l7.6 0 .7 0L168 288c9.7 0 18.5 5.8 22.2 14.8s1.7 19.3-5.2 26.2l-41.1 41.1c62.6 61.5 163.1 61.2 225.3-1c17.5-17.5 30.1-38 37.8-59.8c5.9-16.7 24.2-25.4 40.8-19.5s25.4 24.2 19.5 40.8c-10.8 30.6-28.4 59.3-52.9 83.8c-87.2 87.2-228.3 87.5-315.8 1L57 457c-6.9 6.9-17.2 8.9-26.2 5.2S16 449.7 16 440l0-119.6 0-.7 0-7.6z"/></svg>
        </button>
    </div>

    <div id="notification" class="notification">
        Erfolgreich neu gescrappt!
    </div>

    <script src="/static/script.js"></script>
</body>
</html>